.svn/
Library/
obj/
HLua/
Temp/
UnityPackageManager/
sgly_client_proj.CSharp.csproj
sgly_client_proj.CSharp.Editor.csproj
sgly_client_proj.CSharp.Editor.Plugins.csproj
sgly_client_proj.CSharp.Plugins.csproj
sgly_client_proj.userprefs
sgly_client_proj.v12.suo
HLua.pack
HLua.pack.meta
StreamingAssets/
StreamingAssets.meta
Assets/pic/
Assets/pic.meta
Assets/Temp/
Assets/Temp.meta
Assets/3rd/XLua/Gen/
Assets/3rd/XLua/Gen.meta
Assets/Editor
Assets/Editor.meta
Assets/Script
Assets/Script.meta
_primary/
_primary.meta

